<manifest xmlns:android="http://schemas.android.com/apk/res/android"><queries><package android:name="com.faceclaw.demo.a"/><package android:name="com.faceclaw.demo.b"/><package android:name="com.faceclaw.sdk.fixture"/></queries><application android:label="Faceclaw boundary tests" android:allowBackup="false"><activity android:name="com.faceclaw.app.FaceclawAppSettingsActivity" android:exported="true" android:theme="@android:style/Theme.Material.Light.NoActionBar"><intent-filter><action android:name="com.faceclaw.action.MANAGE_APPS"/><category android:name="android.intent.category.DEFAULT"/></intent-filter></activity></application></manifest>